<p>Hi {name},</p>

<p>Please review the following list of files which are publicly shared with anyone with the link, and use your judgement in determining whether or not to adjust their sharing settings. If a file is sensitive to {company}, it is risky to share it publicly.</p>

<ul>
{result_elem}</ul>

<p>For more information about this process, please see <a href="{docs}">this documentation link</a>.</p>

<p>Thanks,<br>
{signature}</p>
